@model CollectIt.MVC.View.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="h-100 bg-white rounded container-fluid shadow p-3" >
    <h2 class="text-danger">Error.</h2>
    <h3 class="text-danger">An error occurred while processing your request.</h3>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    @if (Model.HasMessage)
    {
        <h3>Message</h3>
        <p class="text-danger text-center h4">
            @Model.Message
        </p>
    }
</div>