@model CollectIt.MVC.View.ViewModels.PaymentResultViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@(Model.Success ? "Успешно" : "Ошибка")</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/View.styles.css" asp-append-version="true"/>
    <link href="~/lib/fontawesome-free-6.0.0-web/css/all.css" rel="stylesheet">;
</head>
<body>
<main class="w-100 d-flex justify-content-center align-items-center subs-center" style="">
    <div class="w-50 p-3 bg-white shadow rounded">
        @if (Model.Success)
        {
            <h2 class="mb-3 mt-2 text-center">Операция завершена успешно</h2>
            <img width="150" height="150" class="mb-lg-4 mx-auto d-block" alt="Успех" src="~/img/accept.jpg"/>
        }
        else
        {
            <h2 class="mt-2 text-center">Операция не совершена</h2>
            <h5 class="mb-3 mt-3 text-center">Причина: <mark>@Model.ErrorMessage</mark></h5>
            <img width="150" height="150" class="mb-lg-4 mx-auto d-block" src="~/img/decline.jpg" alt="Ошибка"/>
        }
        <div class="mb-3 text-center">Через 5 секунд вы будете перенаправлены на страницу ресурса</div>
    </div>
</main>
</body>
<script>
  document.addEventListener('DOMContentLoaded', () => setTimeout(() => {    
   window.history.back();
  }, 5000));
</script>
</html>