@using CollectIt.Database.Entities.Account
@model CollectIt.MVC.View.ViewModels.AccountResourcesViewModel

<div class="d-flex justify-content-center w-100">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="">№</th>
            <th>Название</th>
            <th>Дата покупки</th>
            <th>Тип ресурса</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var (userResource, i) in Model.Resources
                                                .OrderBy(s => s.Date)
                                                .Select((s, i) => ( s, i )))
        {
            var type = userResource.ResourceType switch 
                       {    
                       ResourceType.Image => "Изображение",
                       ResourceType.Video => "Видео",
                       ResourceType.Music => "Музыка"
                       };

            <tr onclick="window.location='@(userResource.ResourceType switch
                                            {
                                            ResourceType.Image => Url.Action("Image", "Images", new {imageId = userResource.Id}),
                                            ResourceType.Music => Url.Action("Music", "Musics", new {id = userResource.Id}),
                                            ResourceType.Video => Url.Action("Video", "Videos", new {id = userResource.Id}),
                                            })'" role="button">
                <td>
                    @(i + 1)
                </td>
                <td>
                    @userResource.FileName
                </td>
                <td>
                    @userResource.Date.ToString("D")
                </td>
                <td>
                    @type
                </td>
                <td>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>