@model CollectIt.MVC.View.ViewModels.ImageViewModel
@{
    var str = "";
}
<a class="nav-link btn-light blur text-dark rounded mx-1 mb-3" asp-controller="Images" asp-action="UploadImage">
    Загрузить изображение
</a>
<a class="nav-link btn-light blur text-dark rounded mx-1 mb-3" asp-controller="Musics" asp-action="UploadMusic">
    Загрузить музыку
</a>
<a class="nav-link btn-light blur text-dark rounded mx-1 mb-3" asp-controller="Videos" asp-action="UploadVideo">
    Загрузить видео
</a>
