#header {
    background: #444;
    color: #bbb;
    cursor: default;
    left: 0;
    height: 68px;
    line-height: 3.25em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#header.alt {
    -moz-animation: none;
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    background: none;
    position: absolute;
    color: rgba(255, 255, 255, 0.75);
}

#header.reveal {
    -moz-animation: reveal-header 0.5s;
    -webkit-animation: reveal-header 0.5s;
    -ms-animation: reveal-header 0.5s;
    animation: reveal-header 0.5s;
}

.dropdown:hover .dropdown-menu{
    display: block;
    transition: all 2s ease-in-out;
}

.title h3{
    margin-bottom: -60px;
}

.title h1{
    margin-bottom: 20px;
    margin-top: -20px;
}

.block-subs{
	height: 500px;
	width: 20%;
	float:left;
	background: rgb(248, 246, 246);
    border-color: #444;
    border-radius: 1%;
    border-style: solid;
    border-width: 1px;
    margin-top: 40px;
}

.block-subs-text h4{
    margin-top: 10px 
}

.outline-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline-center{
    position: absolute;
    top: 35%;
    margin-top: -0.625em;
}

.subs-center{
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

.mb-temp{
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .mb-temp{
        margin-bottom: 0.5rem;
    }
}

.block-bestsub{
    height: 580px;
	width: 20%;
	float:left;
	background: rgb(248, 246, 246);
    border-color: #444;
    border-radius: 2%;
    border-style: solid;
    border-width: 1px;
}

.cost{
    font-size: 25pt;
    margin-top: 30px;
    font-weight: bold;
}

.block-subs-text{
    font-size:11pt;
    text-align: center;
    overflow:hidden;
}

.downloads-count{
    font-size: 15pt;  
    height: 35px;
    width: 80px;
    background-color: #444;
    color: #fff;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-top: 10px;
}

.button-sub{
    font-size: 12pt;
    height: 50px;
    width: 90%;
    margin-top: 100px; 
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(242, 245, 234);
    text-align: center;
    border: 4px solid #444;
    border-radius: 40px;
    line-height: 40px;
}

.button-sub:hover{
    background-color: rgb(196, 195, 195);
}

.button-sub.support{ 
    margin-top: 291px; 
}

.l-s-t-none{
    list-style-type: none;
}

.ms-6{
    margin-left: 10%;
}

.me-6{
    margin-right: 10%;
}

.rounded-start-0{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.rounded-start-1{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.rounded-end-0{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.body {
    display: grid;
    grid-template-rows: min-content max-content min-content;
}

.rounded-end-1{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.mt-6{
    margin-top: 100px;
}

.h-0{
    width: 10%;
    height: 200px;
}

/*section{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    font-size: 100%;*/
/*    font: inherit;*/
/*    vertical-align: baseline;*/
/*}*/

#banner {
    background-attachment: scroll, fixed;
    background-color: #666;
    background-image: url(../img/overlay.png), url(../img/banner.jpg);
    background-position: top left, center center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    text-align: center;
}

#ind {
    margin-top: -14em;
    padding: 4em 0;
}

.test-sub{
    max-width: 80%;
    width: 85em;
    margin: 0 auto;
}

.test-3{
    max-width: calc(100% - 5em);
    width: 60em;
    margin: 0 auto;
}

.test-4{
    background: #fff;
    border-radius: 6px;
    margin: 0 0 2em 0;
    padding: 3em;
}

.size-1{
    max-width: 200px;
}

.rounded-4{
    border-radius: 20px;
}

.preview{
    position: relative;
}

.preview:hover .toolbar{
    opacity: 1;
}

.toolbar{
    opacity: 0;
    position: absolute;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 40px;
    width: 100%;
    bottom: 0;
    transition: opacity .22s;
}

.tool{
    height: 33px;
    width: 33px;
}

.s-a{
    width: auto;
    height: auto;
}

.s-1{
    max-width: 60%;
    max-height: 400px;
}

.m-a{
    margin-left: auto;
    margin-right: auto;
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */
}

[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: auto; /* Ширина подсказки */
    left: -50%; bottom: 100%; /* Положение подсказки */
    background: rgba(0, 0, 0, 0.75); /* Синий цвет фона */
    color: #ffffff; /* Цвет текста */
    padding: 0.1em 0.3em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 0.5s; /* Время появления подсказки */
}
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    bottom: 2em; /* Положение подсказки */
}

.res-prev{
    margin-top: -3em;
    margin-left: -3em;
    margin-right: -3em;
    padding: 3em;
}

.rounded-top{
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
}

.photo{
    height: 100px;
    width: 100px;
    border: 0;
    border-radius: 50%;
}

.photo-s-2{
    height: 50px;
    width: 50px;
}

.photo-s-3{
    height: 30px;
    width: 30px;
}


/* Tech support */
/* 'sr' - SignalR */
.sr-chat-block {
    height: 500px;
    text-align: start;
    overflow: scroll hidden;
    word-break: break-all;
    word-wrap: anywhere;
}

.sr-message {
    
}

.sr-message-username {
    font-weight: bold;
}

.sr-message-username::after {
    content: ': ';
}

.sr-message-text {

}