<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CollectIt.MVC.View</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/View.styles.css" asp-append-version="true"/>
    <link href="~/lib/fontawesome-free-6.0.0-web/css/all.css" rel="stylesheet">
</head>
<body class="h-100">

<header id="header" class="reveal alt">
    @await Html.PartialAsync("_Navbar")
</header>

<section id="banner">
    <div class="title">
        <h1>Выберите идеальный план на изображения для своих проектов</h1>
        <h3>Получите доступ к лучшим материалам из нашей обширной библиотеки с лицензированием, не дающим повода для беспокойства.</h3>
    </div>
</section>

<section id="ind" class="test-sub">
    <main role="main" class="pb-3 main">
        <div class="test-4 bg-light rounded shadow">
            @RenderBody()
        </div>
    </main>
</section>

<footer class="border-top footer text-muted mt-auto">
    <div class="container">
        &copy; 2022 - CollectIt.MVC.View - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>