@model CollectIt.MVC.View.Views.Shared.Components.SubscriptionCards.SubscriptionCardsViewModel
<ul class="text-decoration-none d-flex justify-content-center flex-xl-row flex-column subs-center p-0">
    @foreach (var card in Model.Subscriptions)
    {
        <li>
            <vc:subscription-card subscription="@card"/>
        </li>
    }
</ul>
