@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>Create player</div>
    <form asp-page-handler="OnPost" method="post">
        <label asp-for="Player.Name"></label>
        <input asp-for="Player.Name"/>
        <br/>
        <label asp-for="Player.HitPoints"></label>
        <input asp-for="Player.HitPoints"/>
        <br/>
        <label asp-for="Player.AttackModifier"></label>
        <input asp-for="Player.AttackModifier" id="attack-modifier"/>
        <br/>
        <label asp-for="Player.AttackPerRound"></label>
        <input asp-for="Player.AttackPerRound"/>
        <br/>
        <label asp-for="Player.DamageCount">Damage: </label>
        <input asp-for="Player.DamageCount" id="dmg-count"/>d<input asp-for="Player.DamageMax" id="dmg-max"/>
        <br/>
        <label asp-for="Player.DamageModifier"></label>
        <input asp-for="Player.DamageModifier"/>
        <br/>
        <label asp-for="Player.Weapon"></label>
        <input asp-for="Player.Weapon" id="weapon"/>
        <br/>
        <label asp-for="Player.ArmorClass"></label>
        <input asp-for="Player.ArmorClass"/>
        <br/>
        <label>Min AC to Always hit: </label>
        <input readonly="readonly" id="min-ac"/>
        <br/>
        <label>Damage: </label>
        <span><span id="dmg-from"></span> - <span id="dmg-to"></span></span>
        <br/>
        <button class="btn btn-primary" type="submit">Fight</button>
    </form>
</div>
