@using CollectIt.MVC.View.ViewModels
@using CollectIt.MVC.View.Views.Shared.Components.ImageCard
@model CollectIt.MVC.View.Views.Shared.Components.MusicCards.MusicCardsViewModel

<!-- m-0 p-0 mb-2 -->
<div class="d-flex">
    <div class="resources-box">
        @foreach (var music in Model.Musics)
        {
            <vc:music-card music="@music"/>
        }
    </div>
</div>