@model CollectIt.MVC.View.ViewModels.ImageViewModel

<div class="resource-box rounded mb-3 me-2 p-0 @Model.ImageId">
    <a asp-controller="Images" asp-action="Image" asp-route-imageId="@Model.ImageId" class="ls"></a>
    <div class="toolbar-1">
        <div class="top-box rounded-top"></div>
        <div class="toolbar-2">
        </div>
        <div class="gradient rounded-bottom"></div>
    </div>
    <div class="image">
        <img id="@Model.ImageId" src="@Model.PreviewAddress" class="rounded s-3" alt=""/>
    </div>
</div> 
