@page "/about-us"
@model CollectIt.MVC.View.Pages.AboutUs

@{
    Layout = "_Layout";
    ViewData["Title"] = "О нас";
}

<div class="h-100">
    <div class="d-flex flex-column mb-0 d-block">
        <div class="w-100 h-100 bg-light rounded">
            <div class="p-4 text-start">
                <p>Наш сайт работает с 2022 года.</p>
                <p>Мы дорожим каждым нашим клиентом, поэтому вы всегда можете задать интересующие вас вопросы в онлайн-режиме или по телефону и получить подробную консультацию.</p>
                <p>Наша главная задача - постоянно развиваться и повышать качество нашего продукта за счет новых технологий и идей. Делать людей: клиентов, сотрудников и окружающих - счастливее</p>
                <p>Контактный номер: </p>
                <p>Адреса офисов: </p>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="p-5">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A265e7b0f7eeed2a6cfc5946b682523032ef644230e4ac3a3474781ba00bcae00&amp;source=constructor" width="950" height="621" frameborder="0">
                </iframe>
            </div>
        </div>

    </div>
</div>