@using CollectIt.Database.Entities.Account
@using CollectIt.MVC.View.Controllers
@model CollectIt.MVC.View.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="h-100 d-flex justify-content-center align-items-center outline-center">
    <div class="search d-block ms-auto me-auto">
        <vc:search-bar action="@nameof(HomeController.Index)" controller="Home" chosenType="@ResourceType.Image" query="@(Model?.Query ?? string.Empty)"/>
        <h1 class = "text-center text-white mt-5">Найди все, что пожелаешь</h1>
    </div>
</div>